html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0; 
    }
    .swiper-container {
      width: 100%;
      height: 100%;
      position: relative;
    }
    .swiper-pagination-bullet-active{
    	background: #4E96B3;
    	border: 6px solid #007AFF;
    	margin-bottom: 0;
    }
    .swiper-slide {
     
      font-size:40px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
   .Enterpriseintroduction{
   	width: 800px;
   	height: 500px;
   	font-size: 15px;
   	line-height: 30px;
   }
    .banner-text1{position: absolute;
    width: 150px;
    height: 200px;
 
    font-size: 18px;
    line-height: 40px;
    margin-left:-450px ;
    margin-top: 200px;

    	
    }
  
   
     	
     
    
     .banner-text2{position: absolute;
    width: 150px;
    height: 200px;

    font-size: 18px;
    line-height: 40px;
     margin-left:-300px ;
    margin-top: 200px;

    }
.beijintu {
	width: 100%;
	height: 100%;
	background-image: url(../img/02-bg.jpg);
}
.guanyu{
width: 800px;
height:600px;
margin:0 auto;
margin-top: 30px;

}
.guanyu h1{
text-align: center;
}
.guanyu p{
line-height: 35px;
	font-size: 15px;
}

.logobox{
	margin: 0 auto;
	margin-top:100px;
	width:1000px;
	height: 800px;
}.logobox h1{
	font-size: 40px;
	text-align:center;
}
.logobox p{
font-size: 20px;
}
.jieshao{
	margin: auto;
height: 1200px;



}
.jieshao h1{
  font-size: 30px;
	color:white;
position: absolute;
margin-left: 435px;
margin-top: 150px;

}
.jieshao p1{
	font-size: 15px;
		color:white;
		position: absolute;
		margin-left: 435px;
margin-top: 230px;
line-height: 20px;
}
.jstext{
	width: 600px;
	position: absolute;
		margin-left: 1000px;
		margin-top:220px;
}
.jieshao p2{
	font-size: 18px;
		color:white;
		
margin-top: 230px;
line-height: 20px;
}
.qiyelinian{
	height:500px;
}
.qiyelinian h1{
	text-align: center;

font-size: 40px;
}
.yuanjing{
	position: absolute;
	height:150px;
	width: 150px;
margin-left: 50px;
margin-top: 50px;
}
.shiming{
		position: absolute;
	height:150px;
	width: 150px;
margin-left: 370px;
margin-top: -70px;
}
.pinpaijingshen{
			position: absolute;
	height:150px;
	width: 150px;
margin-left: 700px;
margin-top: 50px;
}
.pinpaijiazhi{
			position: absolute;
	height:150px;
	width: 150px;
margin-left: 1010px;
margin-top: -70px;
	
}
.shichubeida{
height:700px;
}
.genzhibeida{height:800px;
	
}
.beidazaixian{
	position: absolute;
background-image: url(../img/07-part01.jpg);
height: 544px;
width: 428px;
margin-top: 60px;
margin-left: -250px;

}
.dashike{
	height: 263px;
	width: 560px;
	position: absolute;
	margin-top: -60px;
margin-left: 250px;
}
.xuexijihua{
	height: 263px;
	width: 263px;
	background-color:#416FFA;
	position: absolute;
	margin-top: 250px;
margin-left:96px;
}
.xuexixitong{
		height: 263px;
	width: 263px;
	background-color:#777777;
	position: absolute;
	margin-top: 250px;
margin-left:359px;
	
}
.xuexipingtai{
	width: 350px;
	height: 350px;
	position: absolute;
margin-left: 280px;
margin-top: 30px;
}
.jishu{
	width: 1000px;
	height: 50px;
	position: absolute;
	margin-top: 320px;
	margin-left: 160px;
}
.zhjc1{
	width: 357px;
	height: 110px;
	position: absolute;
	margin-top: -530px;
	margin-left: 750px;
}
.zhjc2{
	width: 357px;
	height: 110px;
	position: absolute;
	margin-top: -330px;
	margin-left:50px;
}
.zhjc3{
	width: 357px;
	height: 110px;
	position: absolute;
	margin-top: -150px;
	margin-left:750px;
}
.jiuyebaozhang{

	height: 700px;

}
.back{
	height: 100px;
	width: 100%;
	background-color: #424242;
	position: absolute;
	margin-left: -780px;

	
}.baoxian{
	width: 370px;
	height: 117px;
	position: absolute;
	margin-top: 300px;
	margin-left: 150px;
}
.rongyu{
	width: 975px;
	height: 570px;
	position: absolute;
}
.dakatuan{
	height: 800px;
}
.zongjianshizhi{

	height: 800px;
}
.quanweizhenshu{
	height: 800px;
position: absolute;
margin-top: 20px;
}
.qiyerongyu{
	position: absolute;
	margin-left: 200px;
}
.last{position: absolute;
				width: 1200px;
				height: 50px;
				margin-top: 300px;
				background-color:#DDDDDD;
			}
html {
  height: 100%;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.menu {
  display: block;
  position: relative;
  cursor: pointer;
}

.menu-title {
  display: block;
  width: 150px;
  height: 40px;
  padding: 12px 0 0;
  background: #9dc852;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s background-color;
}

.menu-title:before {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #9dc852;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 0 solid #dddddd;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}

.menu-title:hover {
  background: #8db842;
}

.menu-title:hover:before {
  border-top-color: #8db842;
}

.menu:hover > .menu-title:before {
  border-top-width: 0;
  transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

.menu-title:after {
  content: "";
  display: block;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 0 solid #ebebeb;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  transition: 0.2s border-bottom ease-in;
}

.menu:hover > .menu-title:after {
  border-bottom-width: 5px;
  transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu-title_2nd {
  background: #4e96b3;
}

.menu-title_2nd:hover {
  background: #3e86a3;
}

.menu-title_2nd:before {
  border-top-color: #4e96b3;
}

.menu-title_2nd:hover:before {
  border-top-color: #3e86a3;
}

.menu-title_3rd {
  background: #c97676;
}

.menu-title_3rd:hover {
  background: #b96666;
}

.menu-title_3rd:before {
  border-top-color: #c97676;
}

.menu-title_3rd:hover:before {
  border-top-color: #b96666;
}

.menu-title_4th {
  background: #dbab58;
}

.menu-title_4th:hover {
  background: #cb9b48;
}

.menu-title_4th:before {
  border-top-color: #dbab58;
}

.menu-title_4th:hover:before {
  border-top-color: #cb9b48;
}

.menu-dropdown {
  min-width: 100%;
  padding: 15px 0;
  position: absolute;
  background: #ebebeb;
  z-index: 100;
  transition: 0.5s padding, 0.5s background;
}

.menu-dropdown:after {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #ebebeb;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.5s border-top;
}

.menu:not(:hover) > .menu-dropdown {
  padding: 4px 0;
  background: #dddddd;
  z-index: 99;
}

.menu:not(:hover) > .menu-dropdown:after {
  border-top-color: #dddddd;
}

.menu:not(:hover) > .menu-title:after {
  border-bottom-color: #dddddd;
}

.menu-dropdown > * {
  overflow: hidden;
  height: 30px;
  padding: 5px 10px;
  background: transparent;
  white-space: nowrap;
  transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
}

.menu-dropdown > *:hover {
  background: rgba(0, 0, 0, 0.1);
}

.menu:not(:hover) > .menu-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0);
  transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
  z-index: 99;
}

.hList > * {
  float: right;
 
  
}

.hList > * + * {
  margin-left: 0;
}
.photo1{
padding-left: 200px;
	float: left;
}
.top{
	width: 100%;
	height: 40px;
	background-color: #8DB842;
}

