
div{
	float: left;
}
a{
	text-decoration: none;
	list-style: none;
}
li{
	list-style: none;
}
.yi{
	position: absolute;
	top: 5px;
	left: 170px;
}
.er{
	position: absolute;
	top: 5px;
	left: 1170px;
	
}
.san{
	position: absolute;
	top: 5px;
	left: 1190px;
	width: 100px;
	height: 100px;
	
}
.si{
	position: absolute;
	top: 5px;
	left: 1270px;
	width: 120px;
	background: #aeca2d;
	text-align: center;
	border-radius:8px;	
}
hr {
    margin-top:30px;
    border: 0;
    color:silver;
    background-color:silver; 
    height: 1px
}
body{
	background: #fafafa;
}